html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}
.header{
  width:100%;
  position:fixed;
  background-color: #ccff99;
  height: 80px;
}
.header-logo{
  font-family: 'arial black';
  padding:20px 50px 20px 80px;
  float: left;
  font-size: 25px;
}

li{
  padding:50px 20px 20px 20px;
  float:left;
  list-style: none;
}
.main-wrapper{

  background-size: cover;
  background-image:url("https://www.town.matsuno.ehime.jp/uploaded/image/1605.jpg") ;
  height: 800px;
}
.main-container h2{
  width:100%;
  font-size: 30px;
  color:red;
  padding-left: 100px;
}
.main-container{
  width:600px;
  padding-top:100px;
  padding-left:50px;
}
.content li{
  font-family: 'arial black';
  font-size: 20px;
  width:300px;
  color:black;
  border-radius: 30px;
  background-color:rgba(128,128,128,0.5);

}
.lesson-wrapper{
  height:800px;
  background-color:rgba(0,255,0,0.2);
}
.lesson-heading{
  font-size: 40px;
  padding-bottom: 70px;
  padding-top:50px;
  text-align:center;
  font-family: 'arial black';
}
.images{
  height:300px;
  width:300px;
}
.container{
  margin:all 0;
  padding-left: 30px;
}
.lesson-icon {
  width:80%;
}
.lesson-icon a{
  text-align:center;
}
.lesson{
  text-align: center;
  display:inline;
  float: left;
  width:25%;
}
.details {
  color: rgba(128,128,0,0.9);
  padding-top:30px;
  width:80%;
  display:inline-block;
}
.footer{
  height:150px;
}
.containers{
  font-size: 30px;
  text-align: center;
}
.last{
  font-size: :200px;
  font-family: 'arial black';
  padding:20px 0px;
}
.btn{
  border-radius: 10px;
  padding:5px 5px 5px 5px;
  background-color: #ccffff;
  font-size: :50px;
  font-family: 'arial black';
}
.btn:hover{
  background-color:white;
}
